<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İletişim</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div id="tutucu">
        <div id="top">
            <ul id="ustMenu">
                <li><a href="index.html">Projeler</a></li>
                <li><a href="#">Ekip</a></li>
                <li><a href="#">İletişim</a></li>
            </ul>
        </div>
        <div id="banner">
            <img src="img/banner.jpg" id="logo" alt="">
        </div>
        <div id="top-bar">
            <div id="breadcrumb">Anasayfa / <span style="color: red;">Hakkımızda</span></div>
            <div id="search">
                <input type="text" placeholder="Ara..." id="ara">
            </div>
        </div>
        <div>
            <div id="menu">
                <ul class="sol-menu">
                    <li><a href="index.html"> Anasayfa </a></li>
                    <li><a href="about-us.html">Hakkımızda </a></li>
                    <li><a href="">İletişim </a></li>
                </ul>

                <ul id="acilirMenu">
                    <li><a href="#">Anasayfa</a></li>
                    <li>
                        <a href="#">Haberler</a>
                        <ul class="altMenu">
                            <li><a href="#">Şirket Haberleri</a></li>
                            <li><a href="#">Teknoloji Haberleri</a></li>
                            <li><a href="#">Yazılım Haberleri</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Ürünler</a>
                        <ul class="altMenu">
                            <li><a href="#">Yazılım</a></li>
                            <li><a href="#">Donanım</a></li>
                            <li><a href="#">Mobil</a></li>
                            <li><a href="#">Oyun</a></li>
                            <li><a href="#">Konsol</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id="content">
                <h3>İletişim</h3>

                <form>
                    <table>
                        <tr>
                            <td>İsim</td>
                            <td> <input type="text" placeholder="İsminiz" name="isim" class="myForm"> </td>
                        </tr>
                        <tr>
                            <td>E-Posta</td>
                            <td><input type="email" placeholder="E-Posta Adresiniz" name="eposta" class="myForm"></td>
                        </tr>
                        <tr>
                            <td>Telefon</td>
                            <td><input type="text" placeholder="Telefonunuz" name="telefon" class="myForm"></td>
                        </tr>
                        <tr>
                            <td>İsim</td>
                            <td> 
                                <textarea type="text" placeholder="Mesajınız" name="isim" name="mesaj" id="" cols="30" rows="10"></textarea>
                            
                                </textarea>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td style="text-align: center;">
                                <input type="submit" class="buton" value="Gönder">
                            </td>
                        </tr>
                    </table>
                </form>

            </div>
        </div>
        
    </div>
</body>
</html>